<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Шаблон</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="author" content="Your Name here" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />	
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
	<div id="header"><div>
		<h1><a href="#">название<strong style="color:#009900">Фирмы</strong></a></h1>
		<ul id="nav">
			<li class="on"><a href="/index.html">главная</a></li>

			<li><a href="/index.html">про нас</a></li>
			<li><a href="/index.html">услуги</a></li>
			<li><a href="/index.html">контакты</a></li>
		</ul>
	</div></div>
	<div id="strike"><div class="home">
	  <p>Хорошее место, что бы разместить слоган</p>
	</div></div>

	<div id="body">
		<div id="l">
			<h2>Основной текст</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc erat  augue, porttitor sed, sodales vitae, commodo id, urna. Curabitur congue  malesuada sapien. Donec ornare suscipit massa. Curabitur tempus, arcu  ac facilisis posuere, risus dui fermentum nibh, nec ultrices urna ante  et dui. Vestibulum tincidunt lorem vel nisi ultricies ullamcorper. Sed  odio dolor, rutrum et, consequat a, malesuada sed, augue. Vivamus  nonummy urna quis tellus sagittis accumsan. </p>
			<p>The quick brown fox jumped over the lazy dogs. The quick brown fox jumped over the lazy dogs. The quick brown fox jumped over the lazy dogs.  Etiam vel erat. Sed neque  nunc, hendrerit eu, vulputate elementum, posuere ut, libero. Praesent  pulvinar erat eget eros. Fusce vitae est. Mauris suscipit, nibh sit  amet malesuada porta, dui lectus commodo erat, id bibendum sapien dolor  sit amet metus. Praesent metus nunc, suscipit at, tempor a, auctor vel,  purus. Vivamus convallis scelerisque turpis. Etiam sodales tempus massa.</p>
		</div>		
		<div id="r">
			<h2>Правый блок </h2>

			<p><span><img src="images/sample-cactus.jpg" alt="sample" width="205" height="28" /><br />
			</span><br />
		    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc erat  augue, porttitor sed, sodales vitae, commodo id, urna.</p>
			<hr />
			<p><span><span><img src="images/sample-cactus.jpg" alt="sample" width="205" height="28" /></span></span><br />
		      <br />
	        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc erat  augue, porttitor sed, sodales vitae, commodo id, urna.</p>	
			<hr />			
			<div class="block">Google ad here </div>		
		</div>
	</div>
<br clear="all"/></div>	

<div id="footer"><div><div>
	Copyright &copy; 2006 Your Name here, All Rights Reserved.
	 |  Designed by:<!-- PLEASE DON'T REMOVE THIS LINK --> <a href="http://www.alltechnologydirectory.com">Technology Directory</a> <!-- THANKS AGAIN! -->
</div>
</div></div>
<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">try {var pageTracker = _gat._getTracker("UA-12957889-1");pageTracker._trackPageview();} catch(err) {}</script></body>
</html>
